* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main .container {
  height: 100vh;
  margin: 0 auto;
  max-width: 920px;
  display: flex;
  justify-content: center;
  align-items: center;
}

main .sedan-car-box {
  background-color: #e28625;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  padding: 48px;
}

main .suv-car-box {
  background-color: #006971;
  padding: 48px;
}

main .luxury-car-box {
  background-color: #004140;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  padding: 48px;
}

h1 {
  font-family: "Big Shoulders Display", sans-serif;
  font-size: 40px;
  font-weight: 700;
  color: #f2f2f2;
  padding: 35px 0 25px 0;
  text-transform: uppercase;
}

p {
  font-family: "Lexend Deca", sans-serif;
  font-size: 15px;
  line-height: 25px;
  color: #fff;
  padding-bottom: 94px;
  opacity: 0.75;
}

a {
  font-family: "Lexend Deca", sans-serif;
  font-size: 15px;
  line-height: 25px;
  text-decoration: none;
  border-radius: 25px;
  padding: 12px 32px;
  background-color: #f2f2f2;
}

a:hover {
  background-color: transparent;
  color: #fff;
  border: 2px solid #fff;
  transition: color 0.2s;
}

.sedan-button {
  color: #e28625;
}

.suv-button {
  color: #006971;
}

.luxury-button {
  color: #004140;
}

@media (max-width: 920px) {
  main .container {
    flex-direction: column;
    align-items: center;
    max-width: 350px;
    height: auto;
  }
  main .sedan-car-box {
    border-radius: 8px 8px 0 0;
  }
  main .luxury-car-box {
    border-radius: 0 0 8px 8px;
  }
}
